<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>

</header>

<main>
    <h1>Admin</h1>
    <p>You have found the admin page. That must mean you are logged in!</p>
</main>

<footer>

</footer>

</body>
</html>
