<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>

</header>

<main>
    <h1>Error</h1>
    <p><%= errorMessage %></p>
</main>

<footer>

</footer>

</body>
</html>
