<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>

</header>

<main>
    <h1>Success</h1>
    <p><%= successMessage %></p>
    <p><a href="<%= linkHref %>"><%= linkText %></a></p>
</main>

<footer>

</footer>

</body>
</html>
